@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  margin-top: 10px;
}

container-fluid{
  padding: 0px 45px;
}

.bg-g{
  background: #3bb77e;
}

.text-g{
  color: #3bb77e;
}

.hd{
  font-size: 38px;
  font-weight: 600;
}

.transition{
  transition: all 0.3s ease-in-out;
}

.btn-lg{
  font-size: 20px;
}

.text-org{
  color: #FDC040;
}